<div>
    <h1>Hello...</h1>
    <h2>Student Results.</h2>
</div>
<div>
    <table border="1">
        <tr>
            <td>Student name</td>
            <td>Roll No.</td>
            <td>Marks</td>
            <td>Result</td>
        </tr>
        <tr>
            <td>{{name1}}</td>
            <td>{{rollNo1}}</td>
            <td>{{marks1}}</td>
            <td>{{marks1 | result: marks1}}</td>
        </tr>
        <tr>
            <td>{{name2}}</td>
            <td>{{rollNo2}}</td>
            <td>{{marks2}}</td>
            <td>{{marks2 | result: marks2}}</td>
        </tr>
        <tr>
            <td>{{name3}}</td>
            <td>{{rollNo3}}</td>
            <td>{{marks3}}</td>
            <td>{{marks3 | result: marks3}}</td>
        </tr>
    </table>
</div>